.render-ll-item {
  margin: 1em;
  padding: 1em;
  max-width: 5em;
  position: relative;
  background-color: #e3c4a8;
  color: #000;
  cursor: pointer;
}

.render-ll-item:after {
  display: block;
  position: absolute;
  content: "\21D2";
  bottom: 6px;
  left: 95%;
  font-size: 2em;
  color: #e3c4a8;
}

.render-ll-item.render-null {
  color: lightgray;
  background-color: gray;
}

.render-ll-item.render-null:after {
  display: none;
}

.render-highlighted {
  background-color: blue;
}