@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Cormorant+SC');

html {
  height: 100vh;
  /*border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-color: #d4bd89;
  background-color: #f30660;*/
  background-color: #212121;
}

html:before, html:after {
  content: "";
  position: fixed;
  /*background: #d4bd89;*/
  background: repeating-linear-gradient(
    45deg,
    #d4bd89,
    #d4bd89 20px,
    #202020 20px,
    #202020 40px
  );
  left: 0; right: 0;
  height: .75em;
}

html:before { top: 0 }
html:after { bottom: 0 }

body {
  margin: 0;
  font-family: 'anonymous pro';
}

main {
  width: 100%;
}

header {
  margin: .5em auto 1em;
  width: 100%;
  max-width: 90em;
  display: flex;
}

footer {
  margin: 3em;
  text-align: center;
  color: gray;
}

nav {
  padding: 3em 0;
  color: #707070;
  flex: 3;
  text-align: right;
}

nav a,
nav a:visited {
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  padding: 4px 10px;
  background-color: #2d2d2d;
}

nav a:hover {
  text-decoration: underline;
  background-color: #505050;
}

.nav-ll { color: #3da8f0 }
.nav-bst { color: #b32add }
.nav-stack { color: #12c35f }

h1 {
  margin: 0;
  font-family: 'Cormorant SC';
  font-size: 4em;
  color: #ffcf63;
  font-weight: normal;
  line-height: 1em;
}

h2 {
  margin: 0 0 0 5px;
  font-variant: all-small-caps;
  font-size: 1.5em;
  letter-spacing: 5px;
  color: #ffcf63;
}

button {
  margin: 0 0.5em;
  padding: 10px 12px;
  border: 0;
  border-radius: 5px;
  background: #404040;
  color: #fff;
  font-family: inherit;
  font-size: 0.75em;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.25em;
}

button:hover {
  background-color: #606060;
}

.btn-active {
  background-color: #fff;
  color: black;
  animation-name: click;
  animation-duration: 1s;
}

@keyframes click {
  0% {
    background-color: #fff;
    color: black;
  }

  100% {
    background: #404040;
    color: #fff;
  }
}

code {
  font-size: 0.85em;
}

#root {
  max-width: 95em;
  margin: 0 auto;
}

.header-left {
  padding: 1.25em 1.75em;
}

.flex-main {
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.ds-controls {
  margin: 0 auto 2em;
  padding: 1em;
  max-width: 25em;
  display: flex;
  flex-direction: column;
  background-color: #2d2d2d;
}


.ds-controls form div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ds-controls form button {
  flex-basis: 6em;
}

.ds-controls input[type="text"] {
  padding: 8px;
  margin: 0 0 1em 0;
  width: 100%;
  font-family: courier;
  font-weight: bold;
  color: #fff;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #717171;
  box-sizing: border-box;
}

.ds-diagram {
  height: 100%;
  display: flex;
  padding: 1.5em;
  flex-wrap: wrap;
  flex-basis: 30em;
  justify-content: center;
  align-content: baseline;
}

.ds-console {
  height: 10em;
  padding: 0 10px 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1.1em;
  font-weight: bold;
  line-height: .5em;
}


.line-comment { color: #616161; }
.line-input { color: #dedede; cursor: pointer }
.line-input:hover { color: yellow; font-style: italic }
.line-output,
.line-output-italic { color: #009013; }

.line-input:before {
  display: "inline";
  content: "> ";
}

.line-output-italic {
  font-style: italic;
}

.alert-muted {
  color: lightgray;
}



@media only screen and (max-width: 850px) {
  #root-container {
    flex-direction: column;
  }

  .ds-render {
    flex-direction: column;
    height: auto;
  }

  .ds-info {
    width: 100%;
  }

  nav {
    padding: 0 0 3em;
  }
}

@media only screen and (max-width: 455px) {
  h1 {
    font-size: 11vw;
  }

  h2 {
    font-size: 5vw;
  }
  
  nav {
    padding: 1em;
  }
}

@media only screen and (max-width: 385px) {
  html { height: auto }
}
